<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="description" content="{{ site.description }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->

  <link rel="stylesheet" href="{{ site.baseurl }}public/css/base.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/acid.css">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600,400italic|Muli' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon.png">
  <link rel="shortcut icon" sizes="48x48" type="image/png" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>